<div class="container-fluid">
    <div class="row top-buffer-10">

        <div class="col-2">
            <ul class="nav flex-column">
                <li *ngFor="let dir of dirs" [contextMenu]="dirContextMenu" [contextMenuSubject]="dir" class="nav-item">
                    <a href="javascript:void(0);" (click)="onDirClick(dir)" class="nav-link" [ngClass]="{'alert-info': isActiveDir(dir) }">{{dir.path}}</a>
                    <ul class="nav flex-column left-buffer-10">
                        <li *ngFor="let source of dir.sources" [contextMenu]="sourceContextMenu" [contextMenuSubject]="[dir, source]" class="nav-item">
                            <a href="javascript:void(0);" (click)="onSourceClick(dir, source)" class="nav-link" [ngClass]="{'alert-info': isActiveSource(source) }">{{source.name}}</a>
                        </li>
                    </ul>
                </li>
                <context-menu #dirContextMenu>
                    <template contextMenuItem (execute)="onAddSourceClick($event.item)">
                        <span class="badge badge-success">+</span> Add a new Source
                    </template>
                </context-menu>
                <context-menu #sourceContextMenu>
                    <template contextMenuItem let-item (execute)="onRemoveSourceClick($event.item[0], $event.item[1])">
                        <span class="badge badge-danger">x</span> Remove {{item[1].name}}
                    </template>
                </context-menu>
            </ul>
        </div>

        <div class="col-10">
            <div *ngIf="selectedSource != null" class="row">
                <div class="col-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="selectedSource[1].name" class="form-control">
                        </div>
                        <div class="form-group">
                            <ace-editor #editor [(text)]="selectedSource[1].content" [mode]="'scala'" [theme]="'terminal'" style="height:300px;"></ace-editor>
                        </div>
                        <div class="form-group">
                            <button type="button" (click)="onCheckSourceClick(selectedSource[0], selectedSource[1])" class="btn btn-success">Check</button>
                        </div>
                        <div *ngIf="lastCheckError != null" class="form-group">
                            <div class="alert alert-danger" role="alert">
                                Error:({{lastCheckError.startCoordinates.x}}, {{lastCheckError.startCoordinates.y}}) {{lastCheckError.message}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <strong>Global variables</strong>
                    <div *ngFor="let variable of selectedSource[0].vars" class="row">
                        <div class="col-1">
                            <inline-editor type="text" [(ngModel)]="variable.name" size="1"></inline-editor>
                        </div>
                        <div class="col-auto">
                            =
                        </div>
                        <div class="col-1">
                            <inline-editor type="text" [(ngModel)]="variable.value" size="1"></inline-editor>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedDir != null" class="row">
                <div class="col">
                    <div *ngFor="let variable of selectedDir.vars" class="row top-buffer-5">
                        <div class="col-1">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="variable.name" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">=</div>
                        <div class="col-1">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="variable.value" class="form-control">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="input-group">
                                <button type="button" (click)="onRemoveVariableClick(selectedDir, variable)" class="btn btn-danger btn-sm">x</button>
                            </div>
                        </div>
                    </div>
                    <div class="top-buffer-5">
                        <button type="button" (click)="onAddVariableClick(selectedDir)" class="btn btn-success btn-sm">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
