<div class="container-fluid">
    <div class="row">

        <div class="col-2">
            <ul class="list-group">
                <li *ngFor="let dir of dirs" [contextMenu]="dirContextMenu" [contextMenuSubject]="dir" class="list-group-item">
                    <a href="javascript:void(0);" (click)="onDirClick(dir)">{{dir.path}}</a>
                    <ul>
                        <li *ngFor="let source of dir.sources" [contextMenu]="sourceContextMenu" [contextMenuSubject]="[dir, source]">
                            <a href="javascript:void(0);" (click)="onSourceClick(dir, source)">{{source.name}}</a>
                        </li>
                    </ul>
                </li>
                <context-menu #dirContextMenu>
                    <template contextMenuItem (execute)="onAddSourceClick($event.item)">
                        <span class="badge badge-success">+</span> Add a new Source
                    </template>
                </context-menu>
                <context-menu #sourceContextMenu>
                    <template contextMenuItem let-item (execute)="onRemoveSourceClick($event.item[0], $event.item[1])">
                        <span class="badge badge-danger">x</span> Remove {{item[1].name}}
                    </template>
                </context-menu>
            </ul>
        </div>

        <div class="col-10">
            <div *ngIf="selectedSource != null" class="row top-buffer-10">
                <div class="col-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="selectedSource[1].name" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea [(ngModel)]="selectedSource[1].content" class="form-control" rows="15"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col">
                     <ul>
                        <li *ngFor="let variable of selectedSource[0].vars">
                            {{variable.name}}={{variable.value}}
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="selectedDir != null" class="row">
                <div class="col">
                    <div *ngFor="let variable of selectedDir.vars" class="row top-buffer-5">
                        <div class="col-1">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="variable.name" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">=</div>
                        <div class="col-1">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="variable.value" class="form-control">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="input-group">
                                <button type="button" (click)="onRemoveVariableClick(selectedDir, variable)" class="btn btn-outline-danger btn-sm">x</button>
                            </div>
                        </div>
                    </div>
                    <div class="top-buffer-5">
                        <button type="button" (click)="onAddVariableClick(selectedDir)" class="btn btn-primary btn-sm">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
